@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-image: url(./brand.jpg);
    background-size: 100%;
}

:root {
    --grupo1: (#f01251);
    --grupo2: (teal);
}

header {
    background-color: black;
    height: 50px;
    padding: 0 40px;
    font-weight: bold;
}

.grid__container {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 1200px;
    height: 150px;
    text-align: center;
    margin: auto;
}

.grid__item {
    margin-bottom: 30px;
}

.grid__item img {
    border: 5px solid white;
    border-radius: 10px;
}

.grupos {
    display: flex;
}

img {
    width: 350px;
    height: 210px;
}

.header__name {
    font-size: 2rem;
    color: white;
}